version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: API/Dockerfile
    image: api
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Db: Host=db;Port=5432;Database=referral;Username=app;Password=app
    depends_on:
      - db
    ports:
      - "8080:8080"

  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: referral
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
