<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/b8ae745d-7906-4cba-9267-05b398333a0f/resourceGroups/API20251109172146ResourceGroup/providers/Microsoft.ApiManagement/service/FleetAPI/apis/API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/b8ae745d-7906-4cba-9267-05b398333a0f/resourcegroups/API20251109172146ResourceGroup/providers/Microsoft.Web/sites/API20251109172146</ResourceId>
    <ResourceGroup>API20251109172146ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://api20251109172146-gue2d0h7fqaqh4c9.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>446fdba6-c5e5-41c7-9777-1d7deb4fed87</ProjectGuid>
    <PublishUrl>https://api20251109172146-gue2d0h7fqaqh4c9.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>